{
  "extends": "airbnb-base",
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "env": {
    "node": true,
    "browser": true,
    "es6": true
  },
  "rules": {
    "no-console": "off",
    "no-restricted-globals": "off",
    "no-alert": "off",
    "comma-dangle": ["error", "never"],
    "radix": ["error", "as-needed"],
    "no-unused-vars": ["error", {
      "vars": "local",
      "args": "none"
    }]
  },
  "globals": {
    "Mustache": "readonly",
    "moment": "readonly",
    "io": "readonly",
    "Qs": "readonly"
  }
}
